{{ define "main" }}
{{ $posts_title := index .Site.Params "posts_title" | default "Posts" }}
{{ $posts_count := index .Site.Params "posts_count" | default 5 }}
{{ $pubs_title := index .Site.Params "pubs_title" | default "Publications" }}
{{ $pubs_count := index .Site.Params "pubs_count" | default 5 }}

   <div class="container">       
   <div class="sidebar">
<p>
          <center>
<a href="https://poe.com/s/x49oHdFp9FVX2qgndEnc"><img src="/images/humanitylogo.png" width=95%></a>
</center>
</p>   
<p>
University of Virginia<Br>
cs4501 Spring 2026<br>
<em>AI and Humanity</em>
</p>
   <p>
      <b><a href="/syllabus/">Syllabus</a></b><br>
      <b><a href="/schedule/">Schedule</a></b><br>
      <b><a href="/blogs/">Class Blogs</a></b>
      <div style="padding-left: 12px;margin-top: -12px;line-height: 1.2;">
      <font size="-1">
      <a href="/class1">1: Intro</a> (No Blog)<br>
      <a href="/class2">2: Golden Ages</a> (No Blog)<br>
      <a href="/blogs/class3">3: Loving Grace</a><br>
      <a href="/blogs/class4">4: AI 2027/Normal Tech</a><br>
      <a href="/blogs/class5">5: Genomics</a><br>
      <a href="/blogs/class6">6: Clinical Medicine</a><br>
      <a href="/blogs/class7">7: Bias and Interpretability</a>
   </font>
      </div>
      <br></br><br></br><br></br></p>
      <center>
   <a href="https://poe.com/s/x49oHdFp9FVX2qgndEnc"><img src="/images/alternate-logo.png" width=95%></a>
   </center>
      <p></p><p>
     Leader: <a href="https://www.cs.virginia.edu/evans">David Evans</a>
   </p>


   </div>


    <div class="content">

    {{ range .Site.Pages }}
        {{ if eq .Type "index" }}
           {{ .Content }}
        {{ end }}
    {{ end }}


    
    {{ range first $posts_count (where site.RegularPages "Type" "in" site.Params.mainSections).ByDate.Reverse }}
    {{ partial "post-full-summary" . }}
    {{ end }}

   

    <footer>
      <nav>
	<a href="/post/" class="button hollow primary">All {{ $posts_title }}</a>
      </nav>
    </footer>

</div>
</div>

{{ end }}

