{{ define "main" }}
{{ $posts_title := index .Site.Params "posts_title" | default "Posts" }}
{{ $posts_count := index .Site.Params "posts_count" | default 5 }}
{{ $pubs_title := index .Site.Params "pubs_title" | default "Publications" }}
{{ $pubs_count := index .Site.Params "pubs_count" | default 5 }}

   <div class="container">       
   <div class="sidebar">
<p>
          <center>
<a href="https://poe.com/s/x49oHdFp9FVX2qgndEnc"><img src="/images/humanitylogo.png" width=80%></a>
</center>
</p>   
<p>
University of Virginia<Br>
cs4501 Spring 2026<br>
<em>AI and Humanity</em>
</p>


   <p><br></br>
      <b><a href="/syllabus/">Syllabus</a></b>
      <br></br><br></br><br></br><br></br><br></br></p>
      <p>
     Leader: <a href="https://www.cs.virginia.edu/evans">David Evans</a>
   </p>

   <a href="https://poe.com/s/x49oHdFp9FVX2qgndEnc"><img src="/images/alternate-logo.png" width=90%></a>

   </div>


    <div class="content">

    {{ range .Site.Pages }}
        {{ if eq .Type "index" }}
           {{ .Content }}
        {{ end }}
    {{ end }}


    
    {{ range first $posts_count (where site.RegularPages "Type" "in" site.Params.mainSections).ByDate.Reverse }}
    {{ partial "post-full-summary" . }}
    {{ end }}

   

    <footer>
      <nav>
	<a href="/post/" class="button hollow primary">All {{ $posts_title }}</a>
      </nav>
    </footer>

</div>
</div>

{{ end }}

